<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dafang.monitor.nx.accessment.mapper.AgricultureMapper">
    <!--查询时间段内气温、降水、日照实况值-气候与农业-->
    <select id="baseDataList" parameterType="AgricultureParam" resultType="Agriculture">
        select
        t.stationNo,b.station_name as stationName,b.longitude,b.latitude,t.ObserverTime,t.Years as year,
        t.TEM_Avg as temAvg,t.TEM_Max as temMax,t.TEM_Min as temMin,t.PRE_Time_2020 as pre,t.SSH as ssh
        from
        base_day_data t
        join geography_station_info  b ON t.stationNo = b.device_id where ${condition}
        and
        DATE_FORMAT(t.ObserverTime,'%m%d') between #{startMonthDay} and #{endMonthDay}
    </select>
    <!--同期查询积温-->
    <select id="periodList" parameterType="AccumuTemParam" resultType="AccumuTem">
        <choose>
            <when test="sT != null and sT &gt; eT">
                select t.stationNO,b.station_name as stationName,SUM(${element}) as temAvg,b.longitude,b.latitude,YEAR(ObserverTime) as year
                <include refid="AssessmentCommon.notCrossYearSql"></include>
                and ${element} between '-999' and '999'
                ${accCondition}
                group by t.stationNo,YEAR(t.ObserverTime)
            </when>
            <otherwise>
                select t.stationNO,b.station_name as stationName,SUM(${element}) as temAvg,b.longitude,b.latitude,YEAR(ObserverTime) as year
                <include refid="AssessmentCommon.crossYearSuffixSql"></include>
                and ${element} between '-999' and '999'
                ${accCondition}
                group by t.stationNo,YEAR(t.ObserverTime)
                union all
                select t.stationNO,b.station_name as stationName,SUM(${element}) as temAvg,b.longitude,b.latitude,YEAR(ObserverTime)-1 as year
                <include refid="AssessmentCommon.crossYearProfixSql"></include>
                and ${element} between '-999' and '999'
                ${accCondition}
                group by t.stationNo,YEAR(t.ObserverTime)
            </otherwise>
        </choose>
    </select>
    <!--连续查询积温-->
    <select id="continueList" parameterType="AccumuTemParam" resultType="AccumuTem">
        select t.stationNO,b.station_name as stationName,SUM(${element}) as temAvg,b.longitude,b.latitude
        <include refid="AssessmentCommon.notCrossYearSql"></include>
        and ${element} between '-999' and '999'
        ${accCondition}
        group by t.stationNo
    </select>
</mapper>