<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dafang.monitor.nx.accessment.mapper.WaterResourceMapper">
    <!--查询年降水量-->
    <select id="preList" resultType="WaterResource">
        SELECT t.stationNo,b.station_name as stationName,year(t.ObserverTime) as year,SUM(t.PRE_Time_2020) as pre
        FROM `base_day_data` t
        join geography_station_info b
        on t.stationNo = b.device_id
        where t.PRE_Time_2020 BETWEEN '-999' and '999'
        GROUP BY t.stationNo,year(t.ObserverTime)
    </select>
</mapper>
