<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dafang.monitor.nx.statistics.mapper.NumericalMapper">

    <select id="continuousByElement" resultType="java.util.Map">
        select t.stationNo,b.station_name as stationName,b.latitude,b.longitude,${element}
        <include refid="Common.notCrossYearSql"></include>
    </select>

    <select id="periodList" resultType="Daily"><!--单要素的同期数据查询-->
        <choose>
        <when test="sT !=null and sT &lt; eT">select t.stationNO,b.station_name as stationName,${element} as element,t.ObserverTime as observerTime,YEAR(ObserverTime) as year
            <include refid="Common.notCrossYearSql"></include>
            <if test="clientCondition != null">${clientCondition}</if>
        </when>
        <otherwise>
            select t.stationNo,b.station_name as stationName,${element} as element,t.ObserverTime as observerTime,YEAR(ObserverTime) as year
            <include refid="Common.crossYearProfixSql"></include>
            <if test="clientCondition != null">${clientCondition}</if>
            UNION ALL
            select t.stationNo,b.station_name as stationName,${element} as element,t.ObserverTime as observerTime,YEAR(ObserverTime)-1 as year
            <include refid="Common.crossYearSuffixSql"></include>
            <if test="clientCondition != null">${clientCondition}</if>
        </otherwise>
        </choose>
    </select>
</mapper>